{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="card border-0 shadow mt-4">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col">
                    <h2 class="fs-5 fw-bold mb-0">Total members ({{members_list|count}})</h2>
                </div>
                <div class="col text-end">
                    <a href="/member-form" class="btn btn-sm btn-primary">
                        <i class="fas fa-user-plus"></i>
                        Add member
                    </a>
                </div>
            </div>
        </div>
        
        <div class="table-responsive">
            <table class="table align-items-center table-flush">
                <thead class="thead-light">
                <tr>
                    <th class="border-bottom" scope="col">Name</th>
                    <th class="border-bottom" scope="col">Gender</th>
                    <th class="border-bottom" scope="col">Total datasets</th>
                    <th class="border-bottom" scope="col">ID</th>
                    <th class="border-bottom" scope="col">Added on</th>
                    <th class="border-bottom" scope="col"></th>
                </tr>
                </thead>
                <tbody>
                    {% for member in members_list %}
                        <tr>
                            <th class="text-gray-900" scope="row">
                                {{member.first_name}} {{member.last_name}}
                            </th>
                            <td class="text-gray-500">
                                {{member.gender}}
                            </td>
                            <td class="fw-bolder text-gray-500">
                                {{member.number_of_dataset or 0}}
                            </td>
                            <td class="text-gray-500">
                                {{member.id}}
                            </td>
                            <td class="text-gray-500">
                                {{member.added_on}}
                            </td>
                            <td class="fw-bolder text-gray-500" align="right">
                                <a href="{{ url_for('home_blueprint.memberForm', member_id=member.id) }}" class="btn btn-sm btn-info d-inline-flex align-items-center">
                                    <i class="me-2 fas fa-edit"></i>
                                    Edit
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
