{% extends "layouts/base.html" %}

{% block title %} Settings {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="card card-body border-0 shadow my-4 w-75 m-auto">
        <div class="mb-5 d-flex align-items-center justify-content-between">
            <h2 class="h5">Member information</h2>
            {% if member_id %}
            <form method="post" action="{{ url_for('home_blueprint.memberDelete', member_id=member_id) }}">
                <input class="btn btn-danger animate-up-2" type="submit" name="delete" value="Delete">
            </form>
            {% endif %}
        </div>
            {% if msg %}
                {% if not success %}
                    <span class="alert alert-danger">{{ msg | safe }}</span>
                {% else %}
                    <span class="alert alert-info w-100">{{ msg | safe }}</span>
                {% endif %}
            {% endif %}                       
        <form method="post" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div>
                        <label for="first_name">First Name <span class="text-danger">*</span></label>
                        {{ form.first_name(placeholder="First name", class="form-control") }}
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div>
                        <label for="last_name">Last Name <span class="text-danger">*</span></label>
                        {{ form.last_name(placeholder="Last name", class="form-control") }}
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-6 mb-3">
                    <label for="gender">Gender <span class="text-danger">*</span></label>
                    {{ form.gender(placeholder="Gender select", class="form-control") }}
                </div>
            </div>
            <div>
                <label for="dataset">Dataset <span class="text-danger">*</span></label>
                {{ form.dataset(accept=".zip", class="form-control", required=false if member_id else true) }}
            </div>
            <div class="mt-4">
                <button class="btn btn-gray-800 animate-up-2" type="submit">Save member</button>
            </div>
        </form>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
