{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="card border-0 shadow mt-4">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col">
                    <h2 class="fs-5 fw-bold mb-0">Home members</h2>
                </div>
                <div class="col text-end">
                    <a href="/member-form" class="btn btn-sm btn-primary">Add new member</a>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table align-items-center table-flush">
                <thead class="thead-light">
                <tr>
                    <th class="border-bottom" scope="col">Name</th>
                    <th class="border-bottom" scope="col">Total entry</th>
                    <th class="border-bottom" scope="col">Total dataset</th>
                    <th class="border-bottom" scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th class="text-gray-900" scope="row">
                        Ikbal Nayem
                    </th>
                    <td class="fw-bolder text-gray-500">
                        3,225
                    </td>
                    <td class="fw-bolder text-gray-500">
                        42,55%
                    </td>
                    <td class="fw-bolder text-gray-500" align="right">
                        <a href="/member-form" class="btn btn-sm btn-secondary d-inline-flex align-items-center">
                            <i class="me-2 fas fa-edit"></i>
                            Edit
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
