{% extends "layouts/base.html" %}

{% block title %} Settings {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

    <div class="row mt-3">
        <div class="col-12 col-xl-8">
            <div class="card card-body border-0 shadow mb-4">
                <h2 class="h5 mb-4">Raspberry Pi configuration</h2>
                <form method="post">
                    <div class="row">
                        <div class="col-md-8 mb-3">
                            <div>
                                <label for="rpi_ip">IP address <span class="text-danger">*</span></label>
                                <input class="form-control" id="rpi_ip" name="rpi_ip" value="{{ conf.rpi_ip }}" required>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="rpi_username">RPi Username <span class="text-danger">*</span></label>
                                <input class="form-control" id="rpi_username" name="rpi_username" value="{{ conf.rpi_username }}" required>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="rpi_password">RPi Password <span class="text-danger">*</span></label>
                                <input class="form-control" id="rpi_password" name="rpi_password" value="{{ conf.rpi_password or '' }}" required>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-gray-800 mt-2 animate-up-2" type="submit"><i class="fas fa-save me-2"></i> Save configuration</button>
                    </div>
                </form>
            </div>
        </div>
        
        <div class="col-12 col-xl-4">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card shadow border-0 p-0">
                        <img class="card-img-top" src="/static/assets/img/technologies/raspberry-pi-zero-w-raspberry-pi-zero-w.png" alt="Card image cap">
                        <div class="card-body text-center">
                            <h5 class="h4 text-center">
                                Raspberry Pi
                            </h5>
                            <div class="alert alert-success d-none" role="alert" id="success-info"></div>
                            <div class="alert alert-danger d-none" role="alert" id="danger-info"></div>
                            {% if conf.rpi_ip %}
                            <button class="btn btn-sm btn-secondary mt-3" id="configure">
                                <i class="fas fa-tools"></i> Configure
                            </button>
                            {% else %}
                            <button class="btn btn-sm btn-secondary mt-3" id="configure" disabled>
                                <i class="fas fa-tools"></i> Configure
                            </button>
                            {% endif %}
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    $('#configure').click(function(){
        $('#configure').addClass('disabled').text("Configuring ...")
        $.ajax({
            url: '/configure-rpi',
            type: 'GET',
            success: function(response){
                if(response.success){
                    $('#danger-info').addClass('d-none')
                    $('#success-info').removeClass('d-none').text(response.message)
                } else {
                    $('#success-info').addClass('d-none')
                    $('#danger-info').removeClass('d-none').text(response.message)
                }
            },
            error: function(error){
                $('#success-info').addClass('d-none')
                $('#danger-info').removeClass('d-none').text("Something went wrong")
            },
            complete: function(){
                $('#configure').removeClass('disabled').text("Configure")
            }
        });
    });
</script>
{% endblock javascripts %}
