{% extends "layouts/base.html" %}

{% block title %} Settings {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

    <div class="row mt-3">
        <div class="col-12 col-xl-8">
            <div class="card card-body border-0 shadow mb-4">
                <h2 class="h5 mb-4">Raspberry Pi configuration</h2>
                <form method="post">
                    <div class="row">
                        <div class="col-md-8 mb-3">
                            <div>
                                <label for="rpi_ip">IP address <span class="text-danger">*</span></label>
                                <input class="form-control" id="rpi_ip" name="rpi_ip" value="{{ conf.rpi_ip }}" required>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="rpi_username">RPi Username <span class="text-danger">*</span></label>
                                <input class="form-control" id="rpi_username" name="rpi_username" value="{{ conf.rpi_username }}" required>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="rpi_password">RPi Password <span class="text-danger">*</span></label>
                                <input class="form-control" id="rpi_password" name="rpi_password" value="{{ conf.rpi_password or '' }}" required>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-gray-800 mt-2 animate-up-2" type="submit"><i class="fas fa-save me-2"></i> Save configuration</button>
                    </div>
                </form>
            </div>
        </div>
        
        <div class="col-12 col-xl-4">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card shadow border-0 p-0">
                        <img class="card-img-top" src="/static/assets/img/technologies/raspberry-pi-zero-w-raspberry-pi-zero-w.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="h4 text-center">
                                Raspberry Pi Zero W
                            </h5>
                            <p class="text-gray m-0" style="white-space:pre-wrap;">802.11 b/g/n wireless LAN
Bluetooth 4.1
Bluetooth Low Energy (BLE)
1GHz, single-core CPU
512MB RAM
Mini HDMI port and micro USB On-The-Go (OTG) port
Micro USB power
HAT-compatible 40-pin header
Composite video and reset headers
CSI camera connector</p>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    $('#start_training').click(function(){
        $('#start_training').addClass('disabled').text("Training ...")
        $.ajax({
            url: '/train',
            type: 'GET',
            success: function(response){
                $('#start_training').removeClass('disabled').text("Train again")
                alert(response?.message)
            },
            error: function(error){
                alert("Something went wrong while traning your dataset.")
                $('#start_training').removeClass('disabled').text("Train dataset")
            }
        });
    });
</script>
{% endblock javascripts %}
